<h2><%= @word.word() %></h2>

<ul class="list-group">
  <% @word.definitions().each() do |definition| %>
    <li class="list-group-item"><%= definition.text() %></li>
  <% end %>
</ul>

<a href="/definition/<%= @word.id() %>/new"><span class="btn btn-primary">Add Definition</span></a>
<a href="/"><span class="btn btn-default">Return to dictionary</span></a>
