<h2>Add a new definition for <%= @word.word() %></h2>

<form action="/definition/<%= @word.id() %>" method="post">
  <label for="definition">Definition:</label>
  <input id="definition" name="definition" type="text">

  <button type="submit" id="submit">Add definition</button>
</form>
