<h2>Content</h2>

<ul>
  <% @dictionary.each() do |word| %>
    <li><a href="/definitions/<%= word.id() %>"><%= word.word() %></a></li>
  <% end %>
</ul>

<a href="/word/new"><span class="btn btn-primary">Add a new word</span></a>
