.jumbotron{
  height: 550px;
  padding-top: 200px;
  font-family: cursive;
  text-align: center;

  background: url('../img/dictionary.jpg') no-repeat center center;
  color: rgba(235, 235, 235, 0.9);
}

body{
  background: rgba(235, 235, 235, 0.5);
  color: rgba(98, 98, 98, 1);
}

a, li{
  color: rgba(98, 98, 98, 0.9);
}



.list-group-item{
  max-width: 50%;
}
